* {
  font-family: verdana;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  /* grid-auto-rows: minmax(150px, auto); */
  grid-auto-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 125px 70px 150px;
  background-color: tomato;
   padding-top: 10px;
  /*padding-left: 30px; */
}

.notifications {
  background-color: green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.alert-container{
  margin: auto;
  padding-right: 20px;
  border-right: 1px solid #fff;
}

.alert-container img {
  display: block;
  height: 30px;
  text-align: center;
  padding-bottom: 10px;
}

header img{
padding-top: 10px;
  height: 50px;
  border-radius: 50%;
}

nav {
  grid-area: nav;
  background-color: steelblue;
  padding: 10px;
}
nav img {
  padding-top: 15px;

}

main {
  grid-area: main;
  display: grid;
}


/*  TOGGLE SWITCHES  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




@media (min-width: 768px) {

  .grid-container {
  grid-template-columns: 55px 1fr;
  grid-template-areas:
  "header header"
  "nav main";
  }
main{
  grid-template-columns: 50%;
}



}
